In [198]:
#Importamos los paquetes necesarios para trabajar
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [199]:
#Se lee el archivo
aviones = pd.read_csv("AccidentesAviones.csv")

In [134]:
#Se hace una primera exploracion
aviones.head()

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly..."
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,0,0,0,Eugene Lefebvre was the first pilot to ever be...
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...
3,3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...
4,4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,?,?,14,?,?,0,The airship flew into a thunderstorm and encou...

In [135]:
#Se identifica que no hay valores nulos en ninguna de las columnas, ademas se ve el dtype de cada una
aviones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5008 non-null   int64
 1   fecha                   5008 non-null   object
 2   HORA declarada          5008 non-null   object
 3   Ruta                    5008 non-null   object
 4   OperadOR                5008 non-null   object
 5   flight_no               5008 non-null   object
 6   route                   5008 non-null   object
 7   ac_type                 5008 non-null   object
 8   registration            5008 non-null   object
 9   cn_ln                   5008 non-null   object
 10  all_aboard              5008 non-null   object
 11  PASAJEROS A BORDO       5008 non-null   object
 12  crew_aboard             5008 non-null   object
 13  cantidad de fallecidos  5008 non-null   object
 14  passenger_fatalities    5008 non-null   object
 15  crew_fatalities         5008 non-null   object
 16  ground                  5008 non-null   object
 17  summary                 5008 non-null   object
dtypes: int64(1), object(17)
memory usage: 704.4+ KB

In [136]:
#Se ve si hay categorias mediante los valores unicos de cada columna
aviones.nunique()

Unnamed: 0                5008
fecha                     4577
HORA declarada            1217
Ruta                      4125
OperadOR                  2268
flight_no                  893
route                     3839
ac_type                   2469
registration              4701
cn_ln                     3908
all_aboard                 245
PASAJEROS A BORDO          235
crew_aboard                 35
cantidad de fallecidos     200
passenger_fatalities       191
crew_fatalities             29
ground                      52
summary                   4858
dtype: int64

In [138]:
#No hay datos nulos pero si muchos '?' que denotan falta de informacion
aviones.loc[aviones['Ruta']=='?']

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary
360,360,"December 31, 1934",?,?,Aeroflot,?,?,Tupolev ANT-9,?,?,10,8,2,10,8,2,0,Crashed under unknown circumstances.
465,465,"June 20, 1937",?,?,ENTA,?,San José San Isidro de El General,Travel Air 6000,TI-3,?,6,5,1,6,5,1,?,Hit trees and crashed in an isolated area loca...
646,646,"August 21, 1942",?,?,Deutsche Lufthansa,?,?,Siebel Si-204,?,?,4,2,2,4,2,2,0,"Lufthansa chairman, Von Gablenz killed."
999,999,"November 27, 1947",?,?,China National Aviation Corporation,?,?,Douglas DC-3,?,?,3,0,3,2,0,2,0,The cargo plane was shot down by communist ant...
2895,2895,"January 20, 1977",?,?,North Canada Air,?,?,Bristol 170 Freighter 31M,C-FWAD,13253,2,0,2,1,0,1,0,The cargo plane stalled nearly vertical and cr...

In [139]:
#Uno de los Rows de Ruta puede ser obtenido mediante descripcion
aviones.iloc[465]

Unnamed: 0                                                              465
fecha                                                         June 20, 1937
HORA declarada                                                            ?
Ruta                                                                      ?
OperadOR                                                               ENTA
flight_no                                                                 ?
route                                    San José  San Isidro de El General
ac_type                                                     Travel Air 6000
registration                                                           TI-3
cn_ln                                                                     ?
all_aboard                                                                6
PASAJEROS A BORDO                                                         5
crew_aboard                                                               1
cantidad de fallecidos                                                    6
passenger_fatalities                                                      5
crew_fatalities                                                           1
ground                                                                    ?
summary                   Hit trees and crashed in an isolated area loca...
Name: 465, dtype: object

In [140]:
#Se completa la info en este row, una coluna que casi no tiene datos faltantes asi que es de utilidad
aviones.loc[465,['Ruta']]='Cerro Las Vueltas, Costa Rica'

In [141]:
aviones.iloc[465]

Unnamed: 0                                                              465
fecha                                                         June 20, 1937
HORA declarada                                                            ?
Ruta                                          Cerro Las Vueltas, Costa Rica
OperadOR                                                               ENTA
flight_no                                                                 ?
route                                    San José  San Isidro de El General
ac_type                                                     Travel Air 6000
registration                                                           TI-3
cn_ln                                                                     ?
all_aboard                                                                6
PASAJEROS A BORDO                                                         5
crew_aboard                                                               1
cantidad de fallecidos                                                    6
passenger_fatalities                                                      5
crew_fatalities                                                           1
ground                                                                    ?
summary                   Hit trees and crashed in an isolated area loca...
Name: 465, dtype: object

In [142]:
print(aviones.OperadOR.unique())

['Military - U.S. Army' '?' 'Military - U.S. Navy' ...
 'South Sudan Supreme Airlines' 'Soloy Helicopters'
 'Kamchatka Aviation Enterprise']

Gran parte de la columna Operador tiene la palabra Military eso puede servir para categorizar los vuelos entre los que son civiles y los que pertenecen a las fuerzas militares

In [200]:
aviones['OperadOR'].str.contains('Military')

0        True
1       False
2        True
3       False
4        True
        ...
5003    False
5004     True
5005     True
5006     True
5007    False
Name: OperadOR, Length: 5008, dtype: bool

Se crea una nueva columna en la cual cuando la columna Operator tenga la palabra Military la columna tambien lo resaltara.

In [144]:
aviones['CivOMil']=''
conditions=[(aviones['OperadOR'].str.contains("Military"))]
choices=['Military']
aviones['CivOMil']=np.select(conditions,choices)

In [145]:
#Los valores que no son Military seran Civiles
aviones['CivOMil'].replace(to_replace='0',value='Civilian',inplace=True)

In [146]:
aviones['CivOMil'].head()

0    Military
1    Civilian
2    Military
3    Civilian
4    Military
Name: CivOMil, dtype: object

Todas aquellas columnas en las que necesitamos que dejen hacer operaciones se cambia el '?' por el '0' para poder cambiar su tipo a int.

In [147]:
aviones['all_aboard'].replace(to_replace='?',value='0',inplace=True)
aviones['PASAJEROS A BORDO'].replace(to_replace='?',value='0',inplace=True)
aviones['crew_aboard'].replace(to_replace='?',value='0',inplace=True)
aviones['cantidad de fallecidos'].replace(to_replace='?',value='0',inplace=True)
aviones['passenger_fatalities'].replace(to_replace='?',value='0',inplace=True)
aviones['crew_fatalities'].replace(to_replace='?',value='0',inplace=True)
aviones['ground'].replace(to_replace='?',value='0',inplace=True)

In [148]:
aviones['all_aboard']=aviones['all_aboard'].astype('int')
aviones['PASAJEROS A BORDO']=aviones['PASAJEROS A BORDO'].astype('int')
aviones['crew_aboard']=aviones['crew_aboard'].astype('int')
aviones['cantidad de fallecidos']=aviones['cantidad de fallecidos'].astype('int')
aviones['passenger_fatalities']=aviones['passenger_fatalities'].astype('int')
aviones['crew_fatalities']=aviones['crew_fatalities'].astype('int')
aviones['ground']=aviones['ground'].astype('int')

In [149]:
#Confirmamos que sean Dtype int64
aviones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5008 entries, 0 to 5007
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              5008 non-null   int64
 1   fecha                   5008 non-null   object
 2   HORA declarada          5008 non-null   object
 3   Ruta                    5008 non-null   object
 4   OperadOR                5008 non-null   object
 5   flight_no               5008 non-null   object
 6   route                   5008 non-null   object
 7   ac_type                 5008 non-null   object
 8   registration            5008 non-null   object
 9   cn_ln                   5008 non-null   object
 10  all_aboard              5008 non-null   int64
 11  PASAJEROS A BORDO       5008 non-null   int64
 12  crew_aboard             5008 non-null   int64
 13  cantidad de fallecidos  5008 non-null   int64
 14  passenger_fatalities    5008 non-null   int64
 15  crew_fatalities         5008 non-null   int64
 16  ground                  5008 non-null   int64
 17  summary                 5008 non-null   object
 18  CivOMil                 5008 non-null   object
dtypes: int64(8), object(11)
memory usage: 743.5+ KB

In [150]:
#Podemos ver que aunque all_aboard es la suma de pasajeros y tripulacion a bordo, esta suma a veces no se ve reflejada
aviones.loc[aviones['all_aboard']==0]

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary,CivOMil
26,26,"July 21, 1919",1655,"Chicago, Illinois",Wingfoot Air Express Goodyear Tire,?,Shuttle,FD Type Dirigible,?,?,0,0,0,3,2,1,10,"The dirigible, cruising at 1,200 ft. caught fi...",Civilian
30,30,"October 20, 1919",?,"English Channel off Forkstone, Kent",Aircraft Transport and Travel,?,?,De Havilland DH-4,G-EAHG,?,0,0,1,0,0,0,0,Crashed into the sea while attempting to land ...,Civilian
103,103,"September 07, 1925",?,"Toul, France",CIDNA,?,?,Spad 33,?,?,0,0,0,0,0,0,0,?,Civilian
120,120,"January 12, 1927",?,"Estaires, France",Fokker,?,Delivery flight,Fokker F-VII,G-EBPL,4938,0,0,2,0,0,2,0,The flight crew encountered poor weather condi...,Civilian
347,347,"August 10, 1934",?,"Ningbo, China",China National Aviation Corporation,?,?,Sikorsky S-38B,?,?,0,0,0,0,0,0,0,?,Civilian
384,384,"August 13, 1935",?,"Hangow, China",China National Aviation Corporation,?,?,Sikorsky S-38B,NV40V,?,0,0,0,0,0,0,0,Destoryed in a storm.,Civilian
451,451,"December 26, 1936",?,"Nanking, China",China National Aviation Corporation,?,?,Douglas DC-2,NC14269,?,0,0,0,0,0,0,0,?,Civilian
652,652,"October 01, 1942",?,"Kunming, China",China National Aviation Corporation,?,?,Douglas C-47,69,?,0,0,0,0,0,0,0,Crashed while attempting to land after losing ...,Civilian
754,754,"November 09, 1944",?,"Seljord, Norway",Military - U.S. Army Air Corps,?,?,?,42-52196,?,0,0,0,0,0,0,0,?,Military
854,854,"March 18, 1946",?,"Between Chungking and Shanghai, China",China National Aviation Corporation,?,Chunking - Shanghai,?,139,?,0,0,0,0,0,0,0,Disappeared while en route. Plane never located.,Civilian
1121,1121,"July 13, 1949",?,"Jamnagar, Gujarat state, India",Indian Air Force,?,Training,Hawker Hunter,?,?,0,1,1,0,1,1,14,Crashed into a garage near Jamnagar railway st...,Civilian
1231,1231,"January 20, 1951",?,"Huilyo, Peru",Military - TAM,?,?,Douglas DC-3,?,?,0,0,0,16,0,0,0,?,Military
1362,1362,"December 22, 1952",?,"Damascus, Syria",Syrian Air,?,?,Douglas DC-3,?,?,0,0,0,9,0,0,0,?,Civilian
1386,1386,"April 10, 1953",?,"Near Anchieta Island, Brazil",REAL,?,?,Doublas Dc-3,?,?,0,0,0,26,0,0,0,?,Civilian
1451,1451,"March 13, 1954",?,"Dien Bien Phu, South Vietnam",Aigle Azur,?,?,C-46,?,?,0,0,0,0,0,0,0,Shot down.,Civilian
1577,1577,"June 13, 1956",?,Over North Carolina,Piedmont,?,?,Douglas DC-3,?,?,0,0,0,1,1,0,0,A passenger fell to his death after the door o...,Civilian
1627,1627,"April 20, 1957",?,"Jirkouk, Iraq",Air France,?,"Tehran, Iran - Istanbul, Turkey",Lockheed Super Constellation,F-BGNE,4514,0,0,0,1,1,0,0,Explosive decompression. A passenger was sucke...,Civilian
1638,1638,"June 24, 1957",?,"Horn Island, Queensland, Australia",Adastra Airways,?,?,L-Hudson,?,?,0,0,0,6,0,0,0,Crashed on approach.,Civilian
3144,3144,"September 22, 1981",c 12:00,"Near Babaeski, Turkey",Military - Turkish Air Force,?,?,Northrop F-5A,?,?,0,0,0,0,0,0,40,The fighter crashed into a village after the p...,Military
3376,3376,"March 27, 1986",?,"Bangui, Central African Republic",Military - French Air Force,?,?,Sepecat Jaguar A,?,?,0,0,0,0,0,0,35,The jet fighter crashed into a school shortly ...,Military
3553,3553,"May 09, 1989",?,"Near Tainjin, China",Aero Asahi,?,?,Bell 412,JA9596,33070,0,0,0,10,0,0,0,?,Civilian
3752,3752,"February 20, 1992",?,En route from Argentina to California,Aerolineas Argentinas,386,?,Boeing B-747,?,?,0,0,0,1,0,0,0,A passenger died of cholera while en route.,Civilian

In [151]:
#Si la cantidad total de todos a bordo es cero, se suma la tripulacion y pasajeros. Si tambien son 0s la info esta correcta en caso de que no se reemplazara con la suma
aviones['all_aboard'] = np.where((aviones['all_aboard'] == 0), aviones['PASAJEROS A BORDO']+aviones['crew_aboard'],aviones['all_aboard'])

Se vuele a utilizar el Where clause para esta vex resolver el hecho de que los pasajeros a bordo o la tripulacion a a bordo son 0 pero no corresponde a la suma de pasajeros totales.

In [152]:
aviones['PASAJEROS A BORDO'] = np.where((aviones['PASAJEROS A BORDO'] == 0), aviones['all_aboard']-aviones['crew_aboard'],aviones['PASAJEROS A BORDO'])

In [153]:
aviones['crew_aboard'] = np.where((aviones['crew_aboard'] == 0), aviones['all_aboard']-aviones['PASAJEROS A BORDO'],aviones['crew_aboard'])

Se haran exactamente los mismos pasos para laas columnas de cantidad de fallecidos (lo cual es suma de pasajeros fallecidos y tripulacion fallecida).

In [154]:
aviones['cantidad de fallecidos'] = np.where((aviones['cantidad de fallecidos'] == 0), aviones['passenger_fatalities']+aviones['crew_fatalities'],aviones['cantidad de fallecidos'])

In [155]:
aviones['passenger_fatalities'] = np.where((aviones['passenger_fatalities'] == 0), aviones['cantidad de fallecidos']-aviones['crew_fatalities'],aviones['passenger_fatalities'])

In [156]:
aviones['crew_fatalities'] = np.where((aviones['crew_fatalities'] == 0), aviones['cantidad de fallecidos']-aviones['passenger_fatalities'],aviones['crew_fatalities'])

In [157]:
#Se revisan los cambios
aviones.head(10)

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary,CivOMil
0,0,"September 17, 1908",1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly...",Military
1,1,"September 07, 1909",?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,1,0,0,Eugene Lefebvre was the first pilot to ever be...,Civilian
2,2,"July 12, 1912",0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...,Military
3,3,"August 06, 1913",?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...,Civilian
4,4,"September 09, 1913",1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,20,0,14,14,0,0,The airship flew into a thunderstorm and encou...,Military
5,5,"October 17, 1913",1030,"Near Johannisthal, Germany",Military - German Navy,?,?,Zeppelin L-2 (airship),?,?,28,28,0,28,28,0,0,Hydrogen gas which was being vented was sucked...,Military
6,6,"March 05, 1915",0100,"Tienen, Belgium",Military - German Navy,?,?,Zeppelin L-8 (airship),?,?,41,0,41,17,0,17,0,Crashed into trees while attempting to land af...,Military
7,7,"September 03, 1915",1520,"Off Cuxhaven, Germany",Military - German Navy,?,?,Zeppelin L-10 (airship),?,?,19,19,0,19,19,0,0,"Exploded and burned near Neuwerk Island, when...",Military
8,8,"July 28, 1916",?,"Near Jambol, Bulgeria",Military - German Army,?,?,Schutte-Lanz S-L-10 (airship),?,?,20,20,0,20,20,0,0,"Crashed near the Black Sea, cause unknown.",Military
9,9,"September 24, 1916",0100,"Billericay, England",Military - German Navy,?,?,Zeppelin L-32 (airship),?,?,22,22,0,22,22,0,0,Shot down by British aircraft crashing in flames.,Military

In [158]:
#Se revisa un caso especifico
aviones.iloc[27]

Unnamed: 0                                                               27
fecha                                                       August 02, 1919
HORA declarada                                                            ?
Ruta                                                          Verona, Italy
OperadOR                                                    Caproni Company
flight_no                                                                 ?
route                                                       Venice  Taliedo
ac_type                                                       Caproni Ca.48
registration                                                              ?
cn_ln                                                                     ?
all_aboard                                                               14
PASAJEROS A BORDO                                                        12
crew_aboard                                                               2
cantidad de fallecidos                                                   14
passenger_fatalities                                                     12
crew_fatalities                                                           2
ground                                                                    0
summary                   As the plane was passing over Verona the wings...
CivOMil                                                            Civilian
Name: 27, dtype: object

La columna fecha no esta en un formato adecuado para manejar en un SQL o en Power BI

In [159]:
aviones['fecha'].head()

0    September 17, 1908
1    September 07, 1909
2         July 12, 1912
3       August 06, 1913
4    September 09, 1913
Name: fecha, dtype: object

In [160]:
#Se reemplaza la elimina la coma para evitar que interfiera en nuestro cambio a datetime
aviones['fecha']=aviones['fecha'].str.replace(",","")

Hay que especificar un formato donce el mes esta escrito en su totalidad, el dia va despues en formato de dos digitos, el año esta en formato de cuatro digitos

In [161]:
aviones['fecha'] = pd.to_datetime(aviones['fecha'], format='%B %d %Y')

In [162]:
aviones['fecha'].head()

0   1908-09-17
1   1909-09-07
2   1912-07-12
3   1913-08-06
4   1913-09-09
Name: fecha, dtype: datetime64[ns]

In [163]:
aviones.head()

,Unnamed: 0,fecha,HORA declarada,Ruta,OperadOR,flight_no,route,ac_type,registration,cn_ln,all_aboard,PASAJEROS A BORDO,crew_aboard,cantidad de fallecidos,passenger_fatalities,crew_fatalities,ground,summary,CivOMil
0,0,1908-09-17,1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly...",Military
1,1,1909-09-07,?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,1,0,0,Eugene Lefebvre was the first pilot to ever be...,Civilian
2,2,1912-07-12,0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...,Military
3,3,1913-08-06,?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...,Civilian
4,4,1913-09-09,1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,20,0,14,14,0,0,The airship flew into a thunderstorm and encou...,Military

In [164]:
#Se cambian los nombres de las columnas como una mejora estetica y de estandarizacion
dict = {'Unnamed: 0': 'Index',
        'fecha':'Fecha',
        'HORA declarada': 'Hora',
        'Ruta': 'Lugar_Accidente',
        'OperadOR':'Operador',
        'flight_no':'Numero_vuelo',
        'route':'Ruta_vuelo',
        'ac_type':'Tipo_Avion',
        'registration':'Registro',
        'cn_ln':'Registro2',
        'all_aboard':'Abordo',
        'PASAJEROS A BORDO':'Pasajeros',
        'crew_aboard':'Tripulacion',
        'cantidad de fallecidos':'Fallecidos',
        'passenger_fatalities':'Pasajeros_Fallecidos',
        'crew_fatalities':'Tripulacion_Fallecidos',
        'ground':'Fallecidos_No_Avion',
        'summary':'Descripcion',
        'CivOMil':'Civ-Mil'}
aviones.rename(columns=dict,
          inplace=True)

In [165]:
aviones.head()

,Index,Fecha,Hora,Lugar_Accidente,Operador,Numero_vuelo,Ruta_vuelo,Tipo_Avion,Registro,Registro2,Abordo,Pasajeros,Tripulacion,Fallecidos,Pasajeros_Fallecidos,Tripulacion_Fallecidos,Fallecidos_No_Avion,Descripcion,Civ-Mil
0,0,1908-09-17,1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly...",Military
1,1,1909-09-07,?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,1,0,0,Eugene Lefebvre was the first pilot to ever be...,Civilian
2,2,1912-07-12,0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...,Military
3,3,1913-08-06,?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...,Civilian
4,4,1913-09-09,1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,20,0,14,14,0,0,The airship flew into a thunderstorm and encou...,Military

Mediante dtale se analizo la columna Description, las palabras individuales mas usadas:
crashed(2024) Crashed(1073) crashed.(269)
engine(800) engines(143) engine.(100)
pilot(777)
landing(605)  land(387) landing.(139) 
weather(461)
ground(350)
montain(337)
fire(304) fire.(187) burned(106)
take off(286)
loss(276)
accident(277)
wing(254)
Failure(194)
airport(192) 165 163
fog(163)
visual(144)
sea(115)
military(114)
training (79)
maintenance(73)

De estas se eligieron las que podrian ayudar a explicar la razon de un accidente para crear una columna con categorias.

In [166]:
aviones['Categoria_Accidente'] = ''
conditions=[(aviones['Descripcion'].str.contains("engine")),(aviones['Descripcion'].str.contains("pilot")),(aviones['Descripcion'].str.contains("landing")),(aviones['Descripcion'].str.contains("weather")),(aviones['Descripcion'].str.contains("montain")),(aviones['Descripcion'].str.contains("fire")),(aviones['Descripcion'].str.contains("take off")),(aviones['Descripcion'].str.contains("loss")),(aviones['Descripcion'].str.contains("Failure")),(aviones['Descripcion'].str.contains("wing")),(aviones['Descripcion'].str.contains("fog")),(aviones['Descripcion'].str.contains("visual")),(aviones['Descripcion'].str.contains("sea")),(aviones['Descripcion'].str.contains("military")),(aviones['Descripcion'].str.contains("training")),(aviones['Descripcion'].str.contains("maintenance"))]
choices=['engine','pilot','landing','weather','montain','fire', 'take off', 'loss', 'failure', 'wing','visual', 'visual', 'sea','military','training', 'maintenance']
aviones['Categoria_Accidente']=np.select(conditions,choices)

In [167]:
aviones.head()

,Index,Fecha,Hora,Lugar_Accidente,Operador,Numero_vuelo,Ruta_vuelo,Tipo_Avion,Registro,Registro2,Abordo,Pasajeros,Tripulacion,Fallecidos,Pasajeros_Fallecidos,Tripulacion_Fallecidos,Fallecidos_No_Avion,Descripcion,Civ-Mil,Categoria_Accidente
0,0,1908-09-17,1718,"Fort Myer, Virginia",Military - U.S. Army,?,Demonstration,Wright Flyer III,?,1,2,1,1,1,1,0,0,"During a demonstration flight, a U.S. Army fly...",Military,loss
1,1,1909-09-07,?,"Juvisy-sur-Orge, France",?,?,Air show,Wright Byplane,SC1,?,1,0,1,1,1,0,0,Eugene Lefebvre was the first pilot to ever be...,Civilian,pilot
2,2,1912-07-12,0630,"Atlantic City, New Jersey",Military - U.S. Navy,?,Test flight,Dirigible,?,?,5,0,5,5,0,5,0,First U.S. dirigible Akron exploded just offsh...,Military,0
3,3,1913-08-06,?,"Victoria, British Columbia, Canada",Private,?,?,Curtiss seaplane,?,?,1,0,1,1,0,1,0,The first fatal airplane accident in Canada oc...,Civilian,0
4,4,1913-09-09,1830,Over the North Sea,Military - German Navy,?,?,Zeppelin L-1 (airship),?,?,20,20,0,14,14,0,0,The airship flew into a thunderstorm and encou...,Military,sea

In [169]:
import dtale
dtale.show(aviones)

In [180]:
#Se usa geo pandas para obtener las coordenadas de la columna Lugar_Accidente, se prueba con un dato individual
import geopandas as gpd
import geopy
from geopandas. tools import geocode
import geopy
geopy.geocoders.options.default_user_agent = "pera"
info=geocode('Fort Myer, Virginia',provider = 'nominatim')
info

In [ ]:
# Funcion para iterar en la columna Lugar_Accidente
for index, row in aviones.iterrows():
    try:
        print(row['Lugar_Accidente'])
        info = geocode(str(row['Lugar_Accidente']),provider='nominatim')
        aviones.loc[int(index),'Address'] = info['address'].loc[0]
        aviones.loc [int(index),'Lon'] = info[ 'geometry'].loc[0].x
        aviones.loc [int(index),'Lat'] = info[ 'geometry'].loc[0].y
    except TypeError:
        print ('Geocoding information for '+ row['Lugar_Accidente']+" is not found!")
        print ('')

In [ ]:
#Conectamos el Database con SQL para trabajarlo con Power BI
from sqlalchemy import create_engine
my_conn=create_engine("mysql+mysqldb://root:miclave@localhost/Workshop_3")
aviones.to_sql(con=my_conn,name='Aviones_Workshop_III',if_exists='replace',index=False)

In [172]:
#Guardamos el Database en un archivo excel
aviones.to_excel(r"Aviones_Workshop_III.xlsx", encoding='utf-8', index=False)